<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
    <add name="Source" connectionString="Data Source=SL-ARUNAP;Initial Catalog=wordwatch_source;Integrated Security=True;Connect Timeout=30;" providerName=""/>
    <add name="Destination" connectionString="Data Source=SL-ARUNAP;Initial Catalog=wordwatch_tests;Integrated Security=True;Connect Timeout=30;" providerName=""/>
  </connectionStrings>

  <appSettings>
    <add  key="StorageLocationId" value=""/>
    <add  key="IngestBatchSize" value="2000"/>
    <add  key="QueringBatchSize" value="10000"/>
  </appSettings>
</configuration>